/*###################################################*/
/*############ GLOW TABS STYLE VIDEO LIST START      */
/*###################################################*/
#glowtabs-container {
	margin-left: auto;
	margin-right: auto;
	width:30em;
	margin-top:5px;
}

#glowingtabs{
	/* float:left; */
	font-size:100%;
	/* line-height:normal;
	border-bottom: 1px solid #d8d8d8; Add border strip to bottom of menu*/
}

#glowingtabs ul{
	list-style-type: none;
	margin:0;
	margin-left: 3px; /*Left offset of entire tab menu relative to page*/
	padding:0;
}

#glowingtabs li{
	display:inline;
	margin:0;
	padding:0;
}

#glowingtabs a{
	float:left;
	background:url(../images/glowtab-left.gif) no-repeat left top;
	margin:0;
	margin-right: 3px; /*spacing between each tab*/
	padding:0 0 0 9px;
	text-decoration:none;
}

#glowingtabs a span{
	float:left;
	display:block;
	background:url(../images/glowtab.gif) no-repeat right top;
	padding: 4px 12px 2px 3px;
	font-weight:bold;
	color:#3B3B3B;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
	#glowingtabs a span {float:none;}
/* End IE5-Mac hack */
	#glowingtabs a:hover span {
	color: black;
}

#glowingtabs #current a{ /*Selected Tab style*/
	background-position:0 -37px; /*Shift background image up to start of 2nd tab image*/
}

#glowingtabs #current a span{ /*Selected Tab style*/
	background-position:100% -37px; /*Shift background image up to start of 2nd tab image*/
	color: black;
}

#glowingtabs a:hover{ /*onMouseover style*/
	background-position:0% -74px; /*Shift background image up to start of 2nd tab image*/
}

#glowingtabs a:hover span{ /*onMouseover style*/
	background-position:100% -74px; /*Shift background image up to start of 2nd tab image*/
}

<!--[if IE]>
	p.iepara{ /*Conditional CSS- For IE (inc IE7), create 1em spacing between menu and paragraph that follows*/
	padding-top: 1em;
}
-->
/*###################################################*/
/*############ GLOW TABS STYLE VIDEO LIST END        */
/*###################################################*/